.backgroundWash
{
    background-color: cornflowerblue;
}

.headerText
{
font-family: 'Montserrat', sans-serif;
font-size: 20px;
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
}

.bodyText
{
font-family: 'Open Sans', sans-serif;
}

.thickFont  
{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;

}

.thinFont
{   color:white;
   font-family: 'Open Sans', sans-serif; 
    font-size: 40px;
   
}

.thinParagraph
{   color:rgb(207, 209, 211);
   font-family: 'Open Sans', sans-serif; 
    font-size: 14px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom:75px;
   
}

.spacer
{
    height: 250px;
}

.myButton
{
    padding-top:10px;
    color:rgb(207, 209, 211);
   font-family: 'Open Sans', sans-serif; 
    font-size: 14px;

    width:250px;
    height: 40px;
    border-radius:50px;
    background-color:royalblue;
    margin-left:75px;
}

.navbar 
{
    padding-top:30px;
    background-color: cornflowerblue;
    border: none;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.navbarLink
{
    font-size:18px;
    color:rgb(207, 209, 211);
    padding-right:100px;
}